/*element tags*/
button {
    font-size: 20px;
    border: 3px solid black;
    border-radius: 10px;
}

h1 {
    font-size: 65px;
    text-shadow: 2px 2px black;
    color: white;
    font-family: 'Kavoon', cursive;
}

/*class tags*/
.page-wrapper {
    min-height: 100vh;
    /*background-color: blue;*/
    padding-top: 56px;
    background-image: url('../img/wallpaperblue.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    /*background-color: blue;*/
    color: white;
}

.carousel-container {
    height: 733px;
    background-color: rgba(128, 128, 128, 0.44);
    border-radius: 15px;
}

.mov-director {

    color: white;
    font-family: 'Righteous', cursive;
    text-shadow: 1px 1px black;
}

.mov-genre {
    color: white;
    font-family: 'Righteous', cursive;
}

.mov-rating {
    color: white;
    font-family: 'Righteous', cursive;
}

.carousel-card {
    padding: 35px;
    height: 57vh;
   flex-grow: 1;
}

.add-movies {
    height: 260px;
    width: 574px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(128, 132, 134, 0.92);
    z-index: 1;
    position: fixed;
    right: -52px;
    left: 0;
    top: 24.78em;
    bottom: 0;
    border: 3px solid black;
    border-radius: 15px;
    /*visibility: hidden;*/

}

.hidden {
    visibility: hidden;
}

.poster-img {
    height: 35em;
}

/*id tags*/
#card-container {
    height: 75vh;
    width: auto;
    border: 5px solid black;
    /*border-radius: 100px;*/
    /*overflow: hidden;*/
}

#pop-out-container {
    height: 100vh;
    width: 50%;
    /*background-color: blue;*/
}

#loading-img {
    size: inherit;
}

/*fonts*/

/*font-family: 'Anton', sans-serif;*/
/*font-family: 'Caveat', cursive;*/
/*font-family: 'Kavoon', cursive;*/
/*font-family: 'Righteous', cursive;*/