/*element tags*/
button {
    font-size: 20px;
    border: 3px solid black;
    border-radius: 10px;
}

h1 {
    font-size: 65px;
    text-shadow: 2px 2px black;
    color: white;
    font-family: 'Kavoon', cursive;
}

/*class tags*/
.page-wrapper {
    min-height: 100vh;
    /*background-color: blue;*/
    padding-top: 56px;
    background-image: url('../img/wallpaperblue.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    /*background-color: blue;*/
    color: white;
}

.carousel-container {
    height: 733px;
    background-color: rgba(128, 128, 128, 0.44);
    border-radius: 15px;
}

.mov-director {

    color: white;
    font-family: 'Righteous', cursive;
    text-shadow: 1px 1px black;
}

.mov-genre {
    color: white;
    font-family: 'Righteous', cursive;
}

.mov-rating {
    color: white;
    font-family: 'Righteous', cursive;
}

.carousel-card {
    padding: 35px;
    /*height: 57vh;*/
    flex-grow: 1;
}

.add-movies {
    height: 260px;
    width: 574px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(128, 132, 134, 0.92);
    z-index: 1;
    position: fixed;
    right: -52px;
    left: 0;
    top: 24.78em;
    bottom: 0;
    border: 3px solid black;
    border-radius: 15px;
    /*visibility: hidden;*/

}

.loading-text {
    padding-left: 153px;
}

.hidden {
    visibility: hidden;
}

.poster-img {
    height: 35em;
}

/*id tags*/
#card-container {
    height: 75vh;
    width: auto;
    border: 5px solid black;
    /*border-radius: 100px;*/
    /*overflow: hidden;*/
}

#pop-out-container {
    height: 100vh;
    width: 50%;
    /*background-color: blue;*/
}

#loading-img {
    size: inherit;
}

/* Dot pulse */

.dot-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: rgba(250, 248, 248, 0.98);
    color: #f5f5f8;
    box-shadow: 9999px 0 0 -5px;
    animation: dot-pulse 1.5s infinite linear;
    animation-delay: 0.25s;
}
.dot-pulse::before, .dot-pulse::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #f5f5f8;
    color: #f5f5f8;
}
.dot-pulse::before {
    box-shadow: 9984px 0 0 -5px;
    animation: dot-pulse-before 1.5s infinite linear;
    animation-delay: 0s;
}
.dot-pulse::after {
    box-shadow: 10014px 0 0 -5px;
    animation: dot-pulse-after 1.5s infinite linear;
    animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
    0% {
        box-shadow: 9984px 0 0 -5px;
    }
    30% {
        box-shadow: 9984px 0 0 2px;
    }
    60%, 100% {
        box-shadow: 9984px 0 0 -5px;
    }
}
@keyframes dot-pulse {
    0% {
        box-shadow: 9999px 0 0 -5px;
    }
    30% {
        box-shadow: 9999px 0 0 2px;
    }
    60%, 100% {
        box-shadow: 9999px 0 0 -5px;
    }
}
@keyframes dot-pulse-after {
    0% {
        box-shadow: 10014px 0 0 -5px;
    }
    30% {
        box-shadow: 10014px 0 0 2px;
    }
    60%, 100% {
        box-shadow: 10014px 0 0 -5px;
    }
}


/*fonts*/

/*font-family: 'Anton', sans-serif;*/
/*font-family: 'Caveat', cursive;*/
/*font-family: 'Kavoon', cursive;*/
/*font-family: 'Righteous', cursive;*/